<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appkernia.mobile">
    <application
        android:roundIcon="@drawable/icon_round"
        tools:replace="android:roundIcon" />
</manifest>
